body {
	color: #ffffff;
	background-color: #3b4b54;
	font-family: HelveticaNeue-Light, sans-serif;
	font-size:16px;
}

a {
	text-decoration:none;
}

.banner {
	position: fixed; 
	top: 0px; 
	left: 0px;
	height: 50px;
	width: 100%;
	line-height: 50px;
	background-color: #26343f;	
	border-bottom: solid 1px #3f4e57; 
	z-index: 99;
	padding-left: 5px;
} 

.admin {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 50px;
	width: 10%;
	border-left: solid 1px #3f4e57;
	text-align: center;
}

.menu {
	position: absolute;
	top: 0px;
	right: 12%;
	height: 50px;
	text-align: center;
}

.enlace {
	color: #94a3ab;
}

.enlace:hover {
	color: #ffffff;
}

.cuerpo {
	position: absolute;
	top: 60px;
	bottom: 20px;
	width: 70%;
	margin-left: 15%;
}

.imagen {
	position: absolute;
	top: 7%;
	left: 15%;
}

.submit {
	cursor: pointer;
}

.enlaceImg {
	display:block;
	height: 15%;
	width: 15%;
	text-align:center;
	font-weight: bold;
	font-size: 25px;
	color: #ffffff;
	line-height: 100px;
}

h1 {
    text-align: center;
}

input[type=text], textarea, input[type=email], input[type=password], select, option {
    color: #94a3ab;
	background-color: #2e3c47;
	border: 0px;
	padding: 5px 5px 5px 10px;
}

input[type=text]:disabled, textarea:disabled, input[type=email]:disabled, select:disabled, option:disabled {
	background-color: #32414a;
}

input[type=submit], button {
	background-color: #5eacf7;
	border: 0px;
	padding: 10px 15px 10px 15px;
	cursor: pointer;
	font-weight: bold;
}

input[type=submit]:hover, button:hover {
	background-color: #7fc8fd;
}	

table, td, tr, th {
	border: #26343f 1px solid;
	border-collapse: collapse;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

table.form {
	width: 100%;
	border: 0px;
}

tr {
	height: 40px; 
}

tr.par {
	background-color: #3b4b54;
}

tr.impar {
	background-color: #32414a;
}

th {
	color: #7a8991;
	background-color: #26343f;
}

td.form {
	width: 200px;
}

td.input {
	width: 5%;
	text-align:center;
	padding: 5px 5px 5px 5px;
}

textarea {
	width: 98.7%;
}

.subtitulo {
	font-size: 12px;
	font-weight: normal;
}

.descripcion {
	color: #94a3ab;
}